@layouts.app()
    <div class="flex min-h-[80vh] flex-col justify-center py-12 sm:px-6 lg:px-8">
        @!title({text: 'Produtos'})

        <div class="container mx-auto w-fit grid md:grid-cols-2 lg:grid-cols-3 gap-4 my-8">
            @each(product in products)
                @!product({ product })
            @endeach
        </div>

        @button({
            variant: 'primary',
            href: route('products.create')
        })
            Novo Produto
        @end
    </div>
@end